.zlefttext {
	text-align:left;
}
.zrighttext {
	text-align:right;
}
.zcentertext {
	text-align:center;
}
.zmintext {
	text-align:center;
}
div#Zmainbody {
	clear :both;
	color:black;
	background-color: transparent;
}
#Zfooter {
	clear: both;
	margin:0px;
	padding:0px;
	background-color:#002a5c;
	/* deep blue */
	height:220px;
	font-family:Arial, Helvetica, sans-serif;
	font-size:.9rem;
	a {
		color:	#c2deff;
		text-decoration: none;
	}
}
#Zfooter .footerList ul {
	list-style-type:none;
	line-height:1.5rem;
	padding-top: 40px;
	padding-left:0px;
}
#Zfooter .footerLogo {
	background-color: #002a5c;
	padding-top:0px;
	height:210px;
	float:left;
	text-align:center;
	margin-left:0%;
	margin-right:0%;
	width: 18%;
	img {
		padding-top:10px;
		height:80%;
		width:80%;
	}
}
#Zfooter .footerList {
	background-color: #002a5c;
	padding-top:10px;
	height:210px;
	float: left;
	width: 41%;
}
#Zfooter .footerBlack {
	float:left;
	height:31px;
	width: 100% ;
	background-color:#001228;
	p {
		margin:0;
		background-color:#001228;
		padding-top :7px;
		padding-bottom :7px;
		text-align:center;
		color:white;
	}
}
#Zheader {
	position: fixed;
	z-index:9;
	top: 0;
	left: 0;
	width: 100%;
	background-color:#002a5c;
	/* deep blue */
	font-family:Calibri,Arial, Helvetica, sans-serif;
	/*font-family: var(--bs-font-sans-serif);*/
	font-style:normal;
	font-weight:100;
	font-size:.9rem;
	margin:0px;
	padding: 0px;
	a {
		color:	white;
		text-decoration: none;
	}
	#ZsearchDiv{
		clear: both;
		display:none;
		background-color:lightgrey;
		height:100px;
	}
	.headerList {
		clear:both;
		display:block ;
		text-transform: uppercase;
		background-color: #001e42;
		/* deeper blue */
		ul {
			margin: 0;
			text-align: center;
			list-style-type:none;
			line-height:1.5rem;
			padding-top: 10px;
			padding-bottom: 10px;
			display:flex;
			:hover {
				background-color:#002a5c;
			}
		}
		li  {
			display:inline;
			flex-grow:1;
			flex-shrink:1;
			flex-basis:auto;
		}
	}
	.headerList.zlefttext {
		display:none;
	}
	.headerSearch.zrighttext {
		:hover {
			border-color:red;
		}
		border: 1px;
		border-color:white;
		border-style:solid;
		margin-top:39px;
		margin-right: 48px;
		height:37px;
		width:109px;
		background-image:url("/images/search_unselected.jpg");
	}
	.headerSearch.zrighttext:hover {
		border-color:lightblue;
	}
	.headerBlk {
		background-color:#002a5c;
		/* deep blue */
		height:122px;
		float:left;
		width:33.333%;
	}
	.headerBlk.zmintext {
		display:none;
	}
	.headerLogo {
		margin-top :15px;
		height: auto;
		width:14rem;
	}
	.regOffice {
		color: #fff;
		:hover {
			color: lightblue;
		}
		margin-top :42px;
		margin-left: 9%;
		a {
			font-size:1.69rem;
		}
	}
}
/* MEDIA CHANGES */
@media only screen and (min-width:1280px) {
	#header .regOffice {
		font-size:2rem;
	}
}
@media only screen and (max-width:990px) {
	#Zfooter {
		height: 300px;
		ul {
			padding-top: 10px;
		}
		.footerList {
			padding-top:0px;
			padding-bottom:0px;
			height:125px;
			float:none;
			width: 100% ;
			text-align:center;
			ul {
				padding-top: 1px;
			}
		}
		.footerLogo {
			display:none;
		}
	}
	#Zheader {
		.headerBlk{
			width:48%;
		}
		.headerBlk.zrighttext {
			display:none;
		}
		.headerBlk.zlefttext {
			display:none;
		}
		.headerBlk.zcentertext {
			text-align:left;
			padding-left:2%;
		}
		.headerBlk.zmintext {
			display: inline;
			text-align:right;
			padding-right:2%;
		}
		.headerLogo {
			width:13rem;
		}
		.headerList {
			display:none;
			text-transform: none;
			li{
				background-color:white;
				margin-top:1px;
				display:block;
				flex:none;
				padding-left:10px;
				height:40px;
			}
			ul {
				color:black;
				margin:0px;
				padding:0px;
				margin-bottom:1px;
				display:block;
			}
			p {
				margin-top:8px;
				margin-bottom:8px;
			}
			a {
				color:black;
			}
		}
		.headerList.show {
			display:block;
		}
		.headerList.zlefttext {
			display:inline;
		}
		.headerSearch.zlefttext {
			border: 2px;
			border-color:black;
			margin-top:18px;
			margin-right: 40px;
			height:30px;
			width:33px;
			background-image:url("/images/magnifier.jpg");
			text-align:right;
		}
		.headerSearch.zcentertext {
			border: 2px;
			border-color:black;
			margin-top:5px;
			margin-right: 30px;
			height:37px;
			width:42px;
			background-image:url("/images/tc_toggle.jpg");
			text-align:right;
		}
	}
	@media only screen and (max-width:450px) {
		#Zheader {
			.headerLogo {
				width:9rem;
			}
		}
		.bodywidth {
			width:92%;
			margin-left:4%;
		}
		#Zmainbody {
			margin-top:520px;
		}
	}
